*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  background-color: rgb(139, 139, 238);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  background-color: #a9c3f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  text-align: center;
}

h1,
h2 {
  color: blue;
  margin: 10px;
  border-radius: 5px;
}

.answer {
  /* border: 1px solid #fff; */
  padding: 5px 10px 5px 45px;
  width: 550px;
  text-align: left;
  margin-top: 10px;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  transition: ease-in-out, width 0.35s ease-in-out;
  border-radius: 10px solid #fff;
}

.answer.selected {
  color: #4f4c4c;
  background-color: #c8ffbb;
}

.answer:hover {
  color: #4f4c4c;
  background-color: #c8ffbb;
}

.answer:focus {
  outline: none;
}

.results span.correct {
  color: #bbffff;
}

.results span.failed {
  color: #7cdaf2;
}

.error {
  color: #7cf299;
}

.letter {
  color: #1f1b1b;
  width: 30px;
  position: absolute;
  left: 0;
  text-align: center;
  height: 28px;
  top: 0;
  padding: 5px;
  text-transform: uppercase;
}

.btn {
  color: #e26a6a;
  background-color: #551b1b;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.btn-primary {
  color: #4f4c4c;
  background-color: #fad872;
  font-weight: bold;
}